#main-header{
			text-align:center;
			background-color:brown;
			color:yellow;
			padding:10px;
}

#main-footer{
			text-align: center;
			font-size: 18px;
}

button{
    background-color: black;
    color: antiquewhite;
}

button:hover{
    background-color: brown;
    color: yellow;
}

.post{
    font-size: 23px;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    text-size-adjust: initial;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid black;
    clear: both; 
    padding-top: 20px; 
}