#main-header h1 {
	background-color: #a52a2a;
	text-align: center;
}

#main-header h1{
	color: yellow;
	text-align: center;
}

#main-header h2 {
	color: red;
	text-align: center;

}

.container {
    width: 80%;
    margin: auto;
    text-align: left;
    overflow: hidden;
}

#navbar {
    background-color: #333;
    color: #fff;
    
}

#navbar ul {
    padding: 0px;
    list-style: none;
}

#navbar li {
    display: inline;
    letter-spacing: 0.07em;
     word-spacing: 0.38em;
}


#navbar a {
    color: #cc9191;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px;
   
}

h3{
    background-color: #a52a2a;
}

.post{
    font-size: 23px;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    text-size-adjust: initial;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid black;
    clear: both;
    padding-top: 20px; 
}